services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: blogapi_sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    restart: unless-stopped
    volumes:
      - blogapi_data:/var/opt/mssql

volumes:
  blogapi_data: